<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <div th:replace="fragments :: head">Head</div>
</head>

<body>
<div th:replace="fragments :: header">Header</div>
<div class="row no-gutters">
    <div class="col-2">
        <div id="v-pills-tab" class="nav flex-column nav-pills" role="tablist" aria-orientation="vertical">
            <a id="v-pills-admin-tab" class="nav-link active" href="#v-pills-admin" data-toggle="pill" role="tab"
                aria-controls="v-pills-admin" aria-selected="false">Admin</a>
            <a id="v-pills-user-tab" class="nav-link" href="#v-pills-user" data-toggle="pill" role="tab"
               aria-controls="v-pills-user" aria-selected="true">User</a>
        </div>
    </div>
    <div class="col-10" id="adminPanelColumn">
        <div class="d-flex tab-content" id="v-pills-tabContent">
            <div id="v-pills-admin" class="tab-pane fade show active" role="tabpanel">
                <div class="col-12">
                    <h1>Admin panel</h1>
                    <ul class="nav nav-tabs" id="myAdminTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a class="nav-link active" id="admin-tab" href="#admin" data-toggle="tab" role="tab"
                               aria-controls="admin" aria-selected="true">Users table
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="new-user-tab" href="#new-user" data-toggle="tab" role="tab"
                               aria-controls="new-user" aria-selected="false">New user
                            </a>
                        </li>
                    </ul>
                    <div id="myAdminTabContent" class="tab-content">
                        <div id="admin" class="tab-pane fade show active" role="tabpanel" aria-labelled="admin-tab">
                            <div class="table-responsive table-bordered">
                                <table class="table table-bordered">
                                    <thead class="thead-light">
                                    <tr>
                                        <th>All users</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td id="inner-table" class="inner-table">
                                            <div class="table-responsive" id="admin-allUsers-table">
                                                <table class="table table-striped">
                                                    <thead class="text-center">
                                                    <tr>
                                                        <th class="border-left-0">ID</th>
                                                        <th>First Name</th>
                                                        <th>Last Name</th>
                                                        <th>Age</th>
                                                        <th>Email</th>
                                                        <th>Role</th>
                                                        <th>Edit</th>
                                                        <th class="border-right-0">Delete</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody class="text-center">
                                                    <th:block th:each="user : ${allUser}">
                                                        <tr>
                                                            <td class="border-left-0" th:text="${user.id}">Cell 1</td>
                                                            <td th:text="${user.name}">Cell 2</td>
                                                            <td th:text="${user.surname}">Cell 3</td>
                                                            <td th:text="${user.age}">Cell 4</td>
                                                            <td th:text="${user.email}">Cell 5</td>
                                                            <td class="border-right-0">
                                                                <span th:each="role, iStat : ${user.roles}"
                                                                th:text="!${iStat.last}?${#strings.substring(role.role,5)}+' ':${#strings.substring(role.role,5)}"></span>
                                                            </td>
                                                            <div sec:authorize="hasRole('ROLE_ADMIN')">
                                                                <td>
                                                                    <button id="btnEditModal" class="btn btn-info" type="button" data-toggle="modal" th:data-target="${'#editModal' + user.getId()}">Edit</button>
                                                                </td>
                                                                <td class="border-right-0">
                                                                    <button id="btnDeleteModal" class="btn btn-danger" type="button" data-toggle="modal" th:data-target="${'#deleteModal' + user.getId()}">Delete</button>
                                                                </td>
                                                            </div>

                                                            <!--/* Modal Edit */-->
                                                            <div class="modal fade show active" role="dialog" tabindex="-1" th:id="${'editModal' + user.getId()}">
                                                                <div class="modal-dialog" role="document">
                                                                    <div class="modal-content">
                                                                        <div class="modal-header">
                                                                            <h4 class="modal-title">Edit user</h4>
                                                                            <button type="button" class="close"
                                                                                    data-dismiss="modal"
                                                                                    aria-label="Close"><span
                                                                                    aria-hidden="true">×</span></button>
                                                                        </div>
                                                                        <div class="modal-body text-center">
                                                                            <div class="container-fluid">
                                                                                <div class="row">
                                                                                    <div class="col-6 offset-3">
                                                                                        <form class="text-center"
                                                                                              th:action="@{/admin/users}" th:method="post" th:id="${'editModalForm' + user.getId()}">
                                                                                            <div class="form-group"><label id="labelIDEdit" for="id"><strong>ID</strong><br></label><input class="form-control" type="number" id="id" name="id" th:value="*{user.id}" readonly required=""></div>
                                                                                            <div class="form-group"><label id="labelFirstName-1" for="name"><strong>First name</strong></label><input class="form-control" type="text" id="name" name="name" th:value="*{user.name}" required=""></div>
                                                                                            <div class="form-group"><label id="labelLastName-1" for="surname"><strong>Last name</strong></label><input class="form-control" type="text" id="surname" name="surname" th:value="*{user.surname}" required=""></div>
                                                                                            <div class="form-group"><label id="labelAge-1" for="age"><strong>Age</strong></label><input class="form-control" type="number" id="age" name="age" th:value="*{user.age}" required=""></div>
                                                                                            <div class="form-group"><label id="labelEmail-1" for="email"><strong>Email</strong></label><input class="form-control" type="email" id="email" name="email" th:value="*{user.email}" required=""></div>
                                                                                            <div class="form-group"><label id="password-1" for="password"><strong>Password</strong></label><input class="form-control" type="password" id="passwordAddNewUser-1" name="password" th:value="*{user.password}" required=""></div>
                                                                                            <div class="form-group"><label id="role-1" for="role"><strong>Role</strong></label><select class="form-control" multiple="multiple" th:field="*{user.rolesNameList}">
                                                                                                <option th:each="role : ${listRoles}"
                                                                                                        th:value="${!role.getRole().startsWith('ROLE_')}? ${role.getRole()}: ${role.getRole().replaceFirst('ROLE_', '')}"
                                                                                                        th:text="${!role.getRole().startsWith('ROLE_')}? ${role.getRole()}: ${role.getRole().replaceFirst('ROLE_', '')}">
                                                                                                </option>
                                                                                            </select>
                                                                                            </div>
                                                                                        </form>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="modal-footer">
                                                                            <button class="btn btn-secondary" type="button" data-dismiss="modal">Close</button>
                                                                            <button class="btn btn-primary" type="submit" th:form="${'editModalForm'+ user.getId()}">Edit</button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <!--/* Modal Delete */-->
                                                            <div class="modal fade" role="dialog" tabindex="-1" th:id="${'deleteModal' + user.getId()}">
                                                                <div class="modal-dialog" role="document">
                                                                    <div class="modal-content">
                                                                        <div class="modal-header">
                                                                            <h4 class="modal-title">Delete user</h4>
                                                                            <button type="button" class="close"
                                                                                    data-dismiss="modal"
                                                                                    aria-label="Close"><span
                                                                                    aria-hidden="true">×</span></button>
                                                                        </div>
                                                                        <div class="modal-body text-center">
                                                                            <div class="container-fluid">
                                                                                <div class="row">
                                                                                    <div class="col-6 offset-3">
                                                                                        <form class="text-center" action="#" th:action="@{/admin/delete}" th:id="${'deleteModalForm' + user.getId()}" method="post">
                                                                                            <div class="form-group"><label id="labelID" for="id"><strong>ID</strong><br></label><input class="form-control" type="number" th:value="${user.id}" id="id" name="id" readonly></div>
                                                                                            <div class="form-group"><label id="labelFirstName-3" for="name"><strong>First name</strong></label><input class="form-control" type="text" th:value="${user.name}" id="name" name="name" readonly></div>
                                                                                            <div class="form-group"><label id="labelLastName-3" for="surname"><strong>Last name</strong></label><input class="form-control" type="text" th:value="${user.surname}" id="surname" name="surname" readonly></div>
                                                                                            <div class="form-group"><label id="labelAge-3" for="age"><strong>Age</strong></label><input class="form-control" type="number" th:value="${user.age}" id="age" name="age" readonly></div>
                                                                                            <div class="form-group"><label id="labelEmail-3" for="email"><strong>Email</strong></label><input class="form-control" type="email" th:value="${user.email}" id="email" name="email" readonly></div>
                                                                                            <div class="form-group"><label id="role-3" for="role-3"><strong>Role</strong></label><select class="form-control" id="roles" multiple="multiple" th:value="${user.roles}" readonly>
                                                                                                <option th:each="role : ${listRoles}"
                                                                                                        th:value="${!role.getRole().startsWith('ROLE_')}? ${role.getRole()}: ${role.getRole().replaceFirst('ROLE_', '')}"
                                                                                                        th:text="${!role.getRole().startsWith('ROLE_')}? ${role.getRole()}: ${role.getRole().replaceFirst('ROLE_', '')}">
                                                                                                </option>
                                                                                            </select>
                                                                                            </div>
                                                                                        </form>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="modal-footer">
                                                                            <button class="btn btn-secondary" type="button" data-dismiss="modal">Close</button>
                                                                            <button class="btn btn-danger" type="submit" th:form="${'deleteModalForm'+ user.getId()}">Delete</button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </tr>
                                                    </th:block>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div id="new-user" class="tab-pane fade" role="tabpanel" aria-labelled="new-user-tab">
                            <div class="table-responsive table-bordered">
                                <table class="table table-bordered">
                                    <thead class="thead-light">
                                    <tr>
                                        <th>Add new user</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td id="panel-add-new-user">
                                            <div class="col-4 offset-4">
                                                <div class="row">
                                                    <div class="col">
                                                        <form class="text-center" method="post" th:action="@{/admin/users}" th:object="${user}">
                                                            <div class="form-group"><label id="labelFirstName" for="name"><strong>First name</strong></label><input class="form-control" type="text" th:value="*{getName()}" id="name" name="name" placeholder="First name" required=""></div>
                                                            <div class="form-group"><label id="labelLastName" for="surname"><strong>Last name</strong></label><input class="form-control" type="text" th:value="*{getSurname()}" id="surname" name="surname" placeholder="Last name" required=""></div>
                                                            <div class="form-group"><label id="labelAge" for="age"><strong>Age</strong></label><input class="form-control" type="number" th:value="*{age}" id="age" name="age" placeholder="Age" required=""></div>
                                                            <div class="form-group"><label id="labelEmail" for="email"><strong>Email</strong></label><input class="form-control" type="email" th:value="*{email}" id="email" placeholder="Email" name="email" required=""></div>
                                                            <div class="form-group"><label id="password" for="password"><strong>Password</strong></label><input class="form-control" type="password" th:value="*{password}" id="password1" name="password" placeholder="Password" required=""></div>
                                                            <div class="form-group"><label id="role" for="role"><strong>Role</strong></label><select class="form-control" multiple="multiple" name="rolesNameList" th:value="${user.getRolesNameList()}">
                                                                    <option th:each="role : ${listRoles}"
                                                                            th:value="${!role.getRole().startsWith('ROLE_')}? ${role.getRole()}: ${role.getRole().replaceFirst('ROLE_', '')}"
                                                                            th:text="${!role.getRole().startsWith('ROLE_')}? ${role.getRole()}: ${role.getRole().replaceFirst('ROLE_', '')}">
                                                                    </option>
                                                                </select>
                                                            </div>
                                                            <button class="btn btn-success" type="submit">Add new user</button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="v-pills-user" class="tab-pane fade" role="tabpanel">
                <div class="col-md-10" id="myUserTableColumn">
                    <h2>User information-page<br></h2>
                    <div class="table-responsive table-bordered">
                        <table class="table table-bordered">
                            <thead class="thead-light">
                            <tr>
                                <th>About user</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td id="myUserTableCell" class="inner-table">
                                    <div class="table-responsive">
                                        <table class="table table-striped">
                                            <thead class="text-center">
                                            <tr>
                                                <th class="border-left-0">ID</th>
                                                <th>First Name</th>
                                                <th>Last Name</th>
                                                <th>Age</th>
                                                <th>Email</th>
                                                <th class="border-right-0">Role</th>
                                            </tr>
                                            </thead>
                                            <tbody class="text-center">
                                            <tr th:each="user : ${allUser}">
                                                <td class="border-left-0" th:text="${user.id}">Cell 1</td>
                                                <td th:text="${user.name}">Cell 2</td>
                                                <td th:text="${user.surname}">Cell 3</td>
                                                <td th:text="${user.age}">Cell 4</td>
                                                <td th:text="${user.email}">Cell 5</td>
                                                <td class="border-right-0">
                                                    <span th:each="role, iStat : ${user.roles}"
                                                          th:text="!${iStat.last}?${#strings.substring(role.role,5)}+' ':${#strings.substring(role.role,5)}"></span>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.bundle.min.js"></script>
</body>

</html>