<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>User_page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/Navigation-Clean.css" type="text/css">
</head>

<body>
<div th:replace="fragments :: header">Header</div>
<div class="row no-gutters">
    <div class="col-2">
        <div id="v-pills-tab" class="nav flex-column nav-pills" role="tablist" aria-orientation="vertical"><a
                id="v-pills-user-tab" class="nav-link active" href="#v-pills-user" data-toggle="pill" role="tab"
                aria-controls="v-pills-user" aria-selected="true">User</a></div>
    </div>
    <div class="col-10">
        <div id="v-pills-tabContent" class="tab-content">
            <div id="v-pills-user" class="tab-pane fade show active" role="tabpanel">
                <div class="col-10">
                    <h2>User information-page<br></h2>
                    <div class="table-responsive table-bordered">
                        <table class="table table-bordered">
                            <thead class="thead-light">
                            <tr>
                                <th>About user</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="inner-table" style="border-left: 0;border-right: 0;border-bottom: 0;">
                                    <div class="table-responsive">
                                        <table class="table table-striped">
                                            <thead class="text-center">
                                            <tr>
                                                <th class="border-left-0">ID</th>
                                                <th>First Name</th>
                                                <th>Last Name</th>
                                                <th>Age</th>
                                                <th>Email</th>
                                                <th class="border-right-0">Role</th>
                                            </tr>
                                            </thead>
                                            <tbody class="text-center">
                                            <tr th:each="user : ${allUser}">
                                                <td class="border-left-0" th:text="${user.id}"></td>
                                                <td th:text="${user.name}"></td>
                                                <td th:text="${user.surname}"></td>
                                                <td th:text="${user.age}"></td>
                                                <td th:text="${user.email}"></td>
                                                <td class="border-right-0">
                                                    <span th:each="role, iStat : ${user.roles}"
                                                          th:text="!${iStat.last}?${#strings.substring(role.role,5)}+' ':${#strings.substring(role.role,5)}">
                                                    </span>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.bundle.min.js"></script>
</body>

</html>